body {
    margin: 0;
    padding: 0;
}

.container-1{
    height: 100px;
    width: 100%;
    background-color: rgb(216 216 216);
    padding: 25px; 
    box-sizing: border-box;
}

.square {
    height: 50px;
    width: 50px;
    background-color: rgb(71 145 266);
}

.container-2 {
    height: 200px;
    width: 100%;
    box-sizing: border-box;
    padding: 25px;
}

.container-3 {
    height: 100px;
    width: 100%;
    background-color: rgb(71 145 266);
}

.container-4 {
    height: 100px;
    width: 100%;
    background-color: rgb(80,227,194);
}

.container-5 {
    height: 100px;
    width: 100%;
    background-color: rgb(184,233,134);
}

.container-6 {
    height: 100px;
    width: 100%;
    background-color: rgb(248,231,28);
}

.span {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: gray;
    font-size: 30px;
    text-align: center;
}